---
name: Payara Server Full

on:
  workflow_dispatch:
  
  schedule:
  - cron: '30 0 15 * *' # https://crontab.guru/

env:
  GITHUB_REGISTRY: ghcr.io
  GITHUB_IMAGE: ${{ github.repository }}/payara-server-full
  DOCKERHUB_REGISTRY: registry.hub.docker.com
  DOCKERHUB_IMAGE: kdsda/payara-server-full

jobs:
  payara:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    
    permissions:
      packages: write
      contents: read
    
    strategy:
      matrix:
        name: ["payara/server-full"]
        tag:
        - 6.2023.6-jdk17
        - 5.2022.5-jdk17
        exclude: []
    steps:
    -
      name: Checkout
      uses: actions/checkout@v3
    -
      name: Set up Buildx for Docker
      uses: docker/setup-buildx-action@v2
    -
      name: Login to Registry (GitHub)
      uses: docker/login-action@v2
      with:
        registry: ${{ env.GITHUB_REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    -
      name: Login to Registry (DockerHub)
      uses: docker/login-action@v2
      with:
        registry: ${{ env.DOCKERHUB_REGISTRY }}
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Generate Metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: |
          ${{ env.DOCKERHUB_REGISTRY }}/${{ env.DOCKERHUB_IMAGE }}
        #  ${{ env.GITHUB_REGISTRY }}/${{ env.GITHUB_IMAGE }}
        tags: |
          type=raw,value=${{ matrix.tag }},enable=true
          type=raw,value=latest,prefix=${{ matrix.tag }}-,enable={{ is_default_branch }}
    -
      name: Build and Push
      uses: docker/build-push-action@v4
      with:
        push: true
        context: payara-server-full
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        build-args: |
          base_image_name=${{ matrix.name }}
          base_image_tag=${{ matrix.tag }}
